body{
    background-color:#F8F8F8 !important;
}

.whiteBG {background-color:#FFFFFF !important;}

#globalSearch input[type=search] {
    width: 100%;
    background: #e12f33;
    border: none;
    padding: .4em 1em;
    font-size: 20px;
    color: #FFFFFF;
}






h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0 !important;
}


.glyphicon-star       { color: #FDB235; }
.glyphicon-star-empty { color: #FFCC78; }

.breadcrumb {
  /*  padding-left: 0px !important; */
    background-color: initial !important;
    font-size: 90% !important;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}


.storeListing{
    padding: 5px 0;
    background-color: #FEFEFE;
    border-radius: 8px;
    margin: 15px 0;
}
.storeListing .title a{
    font-size:1.6em;
    color: #fe602c;
}



#custom-search-input {
    margin:0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
    box-shadow: none;
}

.search-query:focus + button {
    z-index: 3;   
}


#defaultMainContainer {min-height: 400px;}






.navbar { border: 0 !important;}

@media(max-width:767px){
    .panel{margin-right:-15px; margin-left:-15px;}

    
    .navbar-header { background-color: #FE602C !important;}
    .navbar-toggle {border-color:white !important;}
    .navbar .icon-bar {background-color:white !important;}
    .navbar .glyphicon-search {color:white !important;}

    #globalSearch input[type=search] {
        background: #F3F3F3 !important;
        color: #7B7B7B !important;
    }


    /* Nav bar fix to top COPY PASTE FROM BOOTSTRAp*/
    #mainNavBar { 

      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;

      top: 0;
      border-width: 0 0 1px;

    }
    body { padding-top: 70px; }

}


@media(min-width:768px){
    #defaultMainContainer {margin-top:20px}

    .navbar {
        margin-bottom: 0 !important;
        background-color: #FFFFFF !important;
    }

}



@media(min-width:992px){

}
@media(min-width:1200px){
}






.footerLinks {
    border-top:1px solid #F0F0F0;
   /*  background-color: #F5F5F5; */
    text-align: center;
    padding:1em 0;
    margin-top:20px;
}
.footerLinks ul { 
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;;
 }

.footerRow{
   /* background-color: #FAFAFA;
    border-top:1px solid #F0F0F0;  */
    padding:15px 10px;
    font-size: 80%;
    color: #8E8F92;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;;
}



@font-face {
    font-family: lane;
    src: url(/fonts/lane/lane.ttf);
}