

.firstPart .title{
    color:black;
    padding:1em;
    background-color: #FFDC7B;
    text-align: center;
}




#listIndex ul { 
  list-style-type: none; 
  margin: 0 0 10px 0;
  padding: 0;
  text-align:center;
}


#listIndex ul li { 
  font-weight:bold;
  display: inline;
  padding: .2em 1em;
}

    
#firstPageLogin{ margin:0 auto;}


@media(max-width:767px){
    #firstTitle div:nth-child(1){
      font-size:1.5em;
      /* padding:1em 2em; */
      margin-top: -15px;
    }
    #firstTitle div:nth-child(2){
      font-size:1.2em;
    }
}
@media(min-width:768px){
  #firstPageLogin{ width:300px;}
  #firstTitle div:nth-child(1){ font-size:2em;}
  #firstTitle div:nth-child(2){ font-size:2em;}
  #listIndex ul li {  font-size:1.3em; }
  .firstPart .bg{
      background: url('/img/desk3.jpg') no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding:8em 2em;
    }



}
@media(min-width:992px){
    #firstPageLogin{ width:400px; margin:0 auto; }
    #firstTitle div:nth-child(1){ font-size:3em;}
    #firstTitle div:nth-child(2){ font-size:3em;}
    #listIndex ul li {  font-size:1.7em; }

}
@media(min-width:1200px){
    #firstPageLogin{ width:500px; margin:0 auto; }
    #listIndex ul li {  font-size:2em; }
}

